@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@import "~react-image-gallery/styles/css/image-gallery.css";

.didauday-slide-show {
  display: block !important;
}

.didauday-content {
  padding-bottom: 0px !important;
}

.didauday-error-input {
  color: #eb2f06;
}

.didauday-custom-logo {
  width: 135px;
  height: 92px;
}

.didauday-custom-header {
  background: #333 !important;
  color: #fff !important;
}

.didauday-custom-nav a {
  color: #fff !important;
}

.didauday-custom-nav:hover a {
  color: #5192FA !important;
}